input {
  width: 55vh;
  height: 8vh;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2),
    -2px -2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  font-size: 1.2rem;
  padding: 0.5rem;
}

button {
  width: 55vh;
  height: 8vh;
  border-radius: 0.5rem;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2),
    -2px -2px 2px 1px rgba(0, 0, 0, 0.2);
  border: 1px solid black;
  font-size: 1.2rem;
  padding: 0.5rem;
  cursor: pointer;
  transition: transform 0.2s ease;
}
button:active {
  transform: scale(0.9);
}
input:focus {
  outline: none;
}

@media screen and (max-width: 480px) {
  input {
    width: 85vw;
    height: 5vh;
  }
  button {
    width: 85vw;
    height: 5vh;
  }
}

@media(prefers-color-scheme: dark){
  input{
    background-color: black;
    color: white;
  }
  button{
    background-color: black;
    color: whitesmoke;
  }
}